.places__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 29px;/*тут все норм*/
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 26px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.places__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width:1024px) {
  .places__paragraph {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 880px) {
  .places__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width:320px){

  .places__paragraph{
    margin: 0 auto;
    width: 288px;
  }
}

