.places__url{
  margin: 0;
  margin-bottom: 12px;
  color: #fff;
  font-size: 12px;
  line-height: 20.4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  opacity: 0.5;
  grid-area: url;
  align-self: center;


}