.overlay__link {
  text-decoration: none;
  position: relative;
  display: flex; /*на вебинаре говорили, что можно раскидать текст padding,но вроде и так не плохо?*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../images/background.png");
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.overlay__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  background: #2a2c2f;
}

.overlay__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .overlay__link {
    max-width: 100%;
    width: 100vw;
    min-height: 62.5vw;
  }
}
