.places__link{
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-weight: 22px;
  opacity: 1;
  transition: opacity 0.5s;
}


.places__link:hover{
  opacity: 0.8;
}


