.footer__container {
  margin: 92px auto 24px auto;
  max-width: 92.5%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .footer__container {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .footer__container {
    margin-top: 88px;
    flex-wrap: wrap;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 523px) {
  .footer__container {
    justify-content: flex-start;
    margin: 64px auto 24px 16px;
    flex-direction: column;
    max-width: 188px;
  }
}
