.footer__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
}

@media screen and (max-width: 523px) {
  .footer__links {
    margin: 0 0 48px 0;
    flex-direction: column;
    display: block;
  }
}
