.lead__caption {
  margin: 0;
  margin-top: 8px;/*он надо на всех разрешениях*/
  color: #fff;
  align-self: flex-start;
  font-size: 10px;
  line-height: 1.4;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 2.303px;/*на всех разрешениях теперь она как на макете*/
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}
