.overlay__subtitle {
  margin: 0;
  position: relative;
  max-width: 360px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 523px) {
  .overlay__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
