.places__cards {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places__cards {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .places__cards {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 650px) {
  .places__cards {
    max-width: calc(100% - 32px);
  }
}

@media screen and (max-width: 320px) {
  .places__cards {
    margin: 0;
    max-width: calc(100% - 32px);
  }
}
